/**************      boot strap styling     ******/
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }
	  .container {
			margin-left:0;
			height:100%;
			/*overflow: auto;*/
	  }
	  .col-md-4 {
			display:inline;
			float:left;
			min-width: 33%;
	  }
	  .col-md-3,.col-md-6 {
			display:inline;
			float:left;
			min-width: 33%;
	  }
	  .leftnav {
			border-right:solid 1px blue;
	  }
	  
      #wrap > .container {
        padding-top: 38px;
		margin-bottom:40px;
      }
	  .navbar-fixed-bottom .container {
        background:white;
      }


/************************************************/

.header_wrapper {position:fixed; top:0px; left:0px; width:100%;  background:#000;z-index:10000;}
.top_wrapper{ width:100%; margin:0px auto;}
.header{ width:100%; float:right; padding:0 10px;z-index:10000;}
.header_left{ width: 10%; float:left; margin-top:5px; margin-right:0px}
.header_left a {color: white}
.header_left a:hover {color : white}
.slideName { width: 90%; float:left; margin-top:5px; margin-right:0px; text-align:center;color:white;font-size: 22px}


.header_right{ width: 35%; float:right; margin-top:5px; margin-right:0px}
.header_right a {color: white}
.header_right a:hover {color : white}

.bottom_wrapper {position:fixed; bottom:0px; left:0px; width:100%;  background:#000;z-index:10000;}

.main-content-wrapper{ width:100%; float:left; margin:46px 1% 46px 1%; }
.main-content-tree{ width:18%; float:left; background: white}
.main-content-section{ width:50%; float:left; padding: 20px;}

.watch {border-radius:5px; background:#FFFFA3; color:black; padding:20px}

.centered {
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}


.seo {
  display: none;
}




/****************************** simulation ******************************/
.sim_table {
    table-layout: fixed;
}

.sim_td {
    border: 1px solid black;
    overflow: hidden;
    width: 35px;
    align: center;
}

.div_box {
  float: left;
  width: 35px;
  position: absolute;
  padding: 3px;
  border: 1px solid black;
}




/****** FIRST CREATE THE BUBBLE *****/
p.thoughtLeft {
position:relative; /*see the support section below for more info*/
width:800px; /*size of the bubble*/
padding:20px 40px;
margin:10px 10px 80px 40px;
/**give the bubble's background a gradient**/
background:#f7a944; /*fallback colour for non-supporting browsers*/
background:-webkit-gradient(linear, 0 0, 0 100%, from(#fac868), to(#f3961c));
background:-moz-linear-gradient(#fac868, #f3961c);
background:-o-linear-gradient(#fac868, #f3961c);
background:linear-gradient(#fac868, #f3961c);
/**give the corners a large curve**/
-webkit-border-radius:180px;
-moz-border-radius:180px;
border-radius:180px;
/**add a drop shadow to the bubble**/
-webkit-box-shadow: -3px 4px 8px #989898;
-moz-box-shadow: -3px 4px 8px #989898;
box-shadow: -3px 4px 8px #989898;
/**style the text**/
color:#575544;
font-size:1em;
letter-spacing:.06em;
}
/******NOW CREATE THE THOUGHT CIRCLES*****/
/****FIRST THE LARGE CIRCLE***/
p.thoughtLeft:before {
content:"";
position:absolute; /*see the support section below for more info*/
top:40px; /*distance from the bottom of the bubble*/
left:-40px; /*distance from the left edge of the bubble*/
background:#f3961c;
width:30px; /*same as the height*/
height:30px; /*same as the width*/
/*add a curve to the corners the same size as the height and width*/
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px;
/*add a drop shadow*/
-webkit-box-shadow: -3px 3px 4px #989898;
-moz-box-shadow: -3px 3px 4px #989898;
box-shadow: -3px 3px 8px #989898;
}
/*****NOW THE SMALL CIRCLE***/
/**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
p.thoughtLeft:after {
content:"";
position:absolute;
top:55px;
left:-60px;
width:15px;
height:15px;
background:#f3961c;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
-webkit-box-shadow: -3px 3px 4px #989898;
-moz-box-shadow: -3px 3px 4px #989898;
box-shadow: -3px 3px 8px #989898;
}

/****** FIRST CREATE THE BUBBLE *****/
p.thoughtRight {
position:relative; /*see the support section below for more info*/
width:800px; /*size of the bubble*/
padding:20px 40px;
margin:10px 10px 80px 40px;
/**give the bubble's background a gradient**/
background:#f7a944; /*fallback colour for non-supporting browsers*/
background:-webkit-gradient(linear, 0 0, 0 100%, from(#fac868), to(#f3961c));
background:-moz-linear-gradient(#fac868, #f3961c);
background:-o-linear-gradient(#fac868, #f3961c);
background:linear-gradient(#fac868, #f3961c);
/**give the corners a large curve**/
-webkit-border-radius:180px;
-moz-border-radius:180px;
border-radius:180px;
/**add a drop shadow to the bubble**/
-webkit-box-shadow: -3px 4px 8px #989898;
-moz-box-shadow: -3px 4px 8px #989898;
box-shadow: -3px 4px 8px #989898;
/**style the text**/
color:#575544;
font-size:1em;
letter-spacing:.06em;
}
/******NOW CREATE THE THOUGHT CIRCLES*****/
/****FIRST THE LARGE CIRCLE***/
p.thoughtRight:before {
content:"";
position:absolute; /*see the support section below for more info*/
top:20px; /*distance from the bottom of the bubble*/
left:820px; /*distance from the left edge of the bubble*/
background:#f3961c;
width:30px; /*same as the height*/
height:30px; /*same as the width*/
/*add a curve to the corners the same size as the height and width*/
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px;
/*add a drop shadow*/
-webkit-box-shadow: -3px 3px 4px #989898;
-moz-box-shadow: -3px 3px 4px #989898;
box-shadow: -3px 3px 8px #989898;
}
/*****NOW THE SMALL CIRCLE***/
/**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
p.thoughtRight:after {
content:"";
position:absolute;
top:15px;
left:860px;
width:15px;
height:15px;
background:#f3961c;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
-webkit-box-shadow: -3px 3px 4px #989898;
-moz-box-shadow: -3px 3px 4px #989898;
box-shadow: -3px 3px 8px #989898;
}

/************************************** Thought Speech *****************************************/

/************************************** Bubble Speech ******************************************/
.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
  background:-moz-linear-gradient(#f3961c, #f9d835);
  background:-o-linear-gradient(#f3961c, #f9d835);
  background:linear-gradient(#f3961c, #f9d835);
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
  margin-left:50px;
  background:#f3961c;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-isosceles.right {
  margin-right:50px;
  background:#f3961c;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
  top:-15px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-color:#f3961c transparent;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
  top:16px; /* controls vertical position */
  left:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #f3961c;
}

/* Variant : right
------------------------------------------ */

.triangle-isosceles.right:after {
  top:16px; /* controls vertical position */
  right:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:10px 0 10px 50px;
  border-color:transparent #f3961c;
}

/************************************ bubble Speech *******************************/