<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>Blog Express - Don't Blog, Express It!!</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/fileuploader.css" rel="stylesheet">
	<link href="/static/css/jstree/style.css" rel="stylesheet">
	<link href="/static/css/slider/slider.css" rel="stylesheet">
	<link href="/static/css/article.css" rel="stylesheet">
<style>

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}
</style>
</head>
<body>

     <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Dashboard</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs_navbar">
              <ul class="nav navbar-nav">
                <li><a href="/articles/create">New Article</a></li>
              </ul>
              <ul class="nav navbar-nav">
                <li><a href="/logout">Sign Out</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
            
        </nav>
    </div>
    <!-- /.navbar -->


<div id="container" class="container tt_container"> 
  <!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
  <li><a href="#series" data-toggle="tab">Series</a></li>
  <li><a href="#comments" data-toggle="tab">Comments</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="articles">
      <div id="articles_table">
          <table id="tb_articles" class="table table-striped table-bordered">
              <thead>
                  <tr>
                    <td width="70%"> Title </td>
                    <td width="15%"> Publish </td>
                    <td width="5%"> Edit </td>
                    <td width="10%"> Date </td>
                  </tr>
              </thead>
              <tbody>
              {% for a in articles %}
                <tr>
                  <td> <a href="/articles/viewArticle/{{a.slug}}" target="_blank"> {{a.title}}  </a></td>
                  <td> <input type="checkbox" class="ar_tb_pub" name= "article_{{a.pk}}" id="id_article_{{a.pk}}" value="{{a.pk}}" 
                      {% if a.is_published %}
                          checked disabled />
                      {% else %}
                          /> <span id="span_article_tr_{{a.pk}}">Select to publish</span>
                      {% endif %}
                    </td>
                  <td> <a href="/articles/edit/{{a.slug}}" target="_blank"> edit  </a> </td>
                  <td> {{a.last_saved}} </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
      <div id="articles_start">
        <div class="well">
            <p>
              Tutorial to create the article.
            </p>
        </div>
      </div>
  </div>
  <div class="tab-pane" id="series">
        <div class="row">
          <div class="col-md-12">
              <div  class = "col-sm-12">
                  <table id="series_tb" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td width="70%"> Title </td>
                            <td width="15%"> Publish </td>
                            <td width="5%"> Edit </td>
                            <td width="10%"> Date </td>
                        </tr>
                    </thead>
                    <!-- ko foreach: series -->
                    <tbody>
                      
                        <td> <a href="/articles/viewArticle/{{a.slug}}" target="_blank"> <span data-bind="text: $data.name"></span></a></td>
                        <td> <input type="checkbox" data-bind="checked: $data.is_published, enable: $data.is_published,  attr:{ id: $data.domId }"/>
                          </td>
                        <td> <a data-bind="attr: { href: $data.edit}" target="_blank"> edit  </a> </td>
                        <td> <span data-bind="text: $data.date"> </td>
                    </tbody>
                    <!-- /ko -->
                    </table>              
              </div>
          </div>
        </div>

  </div>
  <div class="tab-pane" id="comments">messages</div>
</div>
</div>
    <!-- Bootstrap core JavaScript

    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src='/static/js/jquery/jquery.js'></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap/offcanvas.js"></script>
	<script src="/static/js/ace-js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/drag/drag.js"></script>
	<script src="/static/js/drag/drag-live.js"></script>
	<script src="/static/js/pubsub/pubsub.js"></script>
	<script src="/static/js/jquery-plugins/tinyscrollbar.js"></script>
	<script src="/static/js/fileuploader.js"></script>
	<script src="/static/js/underscore/underscore.js"></script>
	<script src="/static/js/slider/bootstrap-slider.js"></script>
	<script src="/static/js/ko/ko.js"></script>
	<script src="/static/js/common.js"></script>
  <script src="/static/js/dashboard/dashboard.js"></script>
</body>
</html>
